In [13]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import seaborn as sns
from scipy import stats as st
import statsmodels.api as sm
from scipy.stats import linregress
from sklearn.linear_model import LinearRegression

pd.set_option("display.max_columns", None)

In [14]:
data2015 = "../Data/2015.csv"
data2016 = "../Data/2016.csv"
data2017 = "../Data/2017.csv"
data2018 = "../Data/2018.csv"
data2019 = "../Data/2019.csv"

df1 = pd.read_csv(data2015)
df2 = pd.read_csv(data2016)
df3 = pd.read_csv(data2017)
df4 = pd.read_csv(data2018)
df5 = pd.read_csv(data2019)
df1["Year"]=2015
df2["Year"]=2016
df3["Year"]=2017
df4["Year"]=2018
df5["Year"]=2019

data_frames = [df1, df2, df3, df4, df5]

 Are larger, more developed countries happier?
 Do happy people live longer?
 Are certain regions happier?

In [15]:
maindf = pd.DataFrame()
maindf["Country"] = pd.concat([df1["Country"], df2["Country"], df3["Country"], df4["Country or region"], df5["Country or region"]])
maindf["Economy (GDP per Capita)"] = pd.concat([df1["Economy (GDP per Capita)"], df2["Economy (GDP per Capita)"], df3["Economy..GDP.per.Capita."], df4["GDP per capita"], df5["GDP per capita"]])
maindf["Happiness Score"] = pd.concat([df1["Happiness Score"], df2["Happiness Score"], df3["Happiness.Score"], df4["Score"], df5["Score"]])
maindf["Happiness Rank"] = pd.concat([df1["Happiness Rank"], df2["Happiness Rank"], df3["Happiness.Rank"], df4["Overall rank"], df5["Overall rank"]])
maindf["Health (Life Expectancy)"] = pd.concat([df1["Health (Life Expectancy)"], df2["Health (Life Expectancy)"], df3["Health..Life.Expectancy."], df4["Healthy life expectancy"], df5["Healthy life expectancy"]])
maindf["Generosity"] = pd.concat([df1["Generosity"], df2["Generosity"], df3["Generosity"], df4["Generosity"], df5["Generosity"]])
maindf["Social Support"] = pd.concat([df1["Family"], df2["Family"], df3["Family"], df4["Social support"], df5["Social support"]])
maindf["Freedom"] = pd.concat([df1["Freedom"], df2["Freedom"], df3["Freedom"], df4["Freedom to make life choices"], df5["Freedom to make life choices"]])
maindf["Year"] = pd.concat([df1["Year"], df2["Year"], df3["Year"], df4["Year"], df5["Year"]])
maindf.head(50)

,Country,Economy (GDP per Capita),Happiness Score,Happiness Rank,Health (Life Expectancy),Generosity,Social Support,Freedom,Year
0,Switzerland,1.39651,7.587,1,0.94143,0.29678,1.34951,0.66557,2015
1,Iceland,1.30232,7.561,2,0.94784,0.43630,1.40223,0.62877,2015
2,Denmark,1.32548,7.527,3,0.87464,0.34139,1.36058,0.64938,2015
3,Norway,1.45900,7.522,4,0.88521,0.34699,1.33095,0.66973,2015
4,Canada,1.32629,7.427,5,0.90563,0.45811,1.32261,0.63297,2015
5,Finland,1.29025,7.406,6,0.88911,0.23351,1.31826,0.64169,2015
6,Netherlands,1.32944,7.378,7,0.89284,0.47610,1.28017,0.61576,2015
7,Sweden,1.33171,7.364,8,0.91087,0.36262,1.28907,0.65980,2015
8,New Zealand,1.25018,7.286,9,0.90837,0.47501,1.31967,0.63938,2015
9,Australia,1.33358,7.284,10,0.93156,0.43562,1.30923,0.65124,2015
10,Israel,1.22857,7.278,11,0.91387,0.33172,1.22393,0.41319,2015
11,Costa Rica,0.95578,7.226,12,0.86027,0.25497,1.23788,0.63376,2015
12,Austria,1.33723,7.200,13,0.89042,0.33088,1.29704,0.62433,2015
13,Mexico,1.02054,7.187,14,0.81444,0.14074,0.91451,0.48181,2015
14,United States,1.39451,7.119,15,0.86179,0.40105,1.24711,0.54604,2015
15,Brazil,0.98124,6.983,16,0.69702,0.14574,1.23287,0.49049,2015
16,Luxembourg,1.56391,6.946,17,0.91894,0.28034,1.21963,0.61583,2015
17,Ireland,1.33596,6.940,18,0.89533,0.45901,1.36948,0.61777,2015
18,Belgium,1.30782,6.937,19,0.89667,0.22250,1.28566,0.58450,2015
19,United Arab Emirates,1.42727,6.901,20,0.80925,0.26428,1.12575,0.64157,2015
20,United Kingdom,1.26637,6.867,21,0.90943,0.51912,1.28548,0.59625,2015
21,Oman,1.36011,6.853,22,0.76276,0.21542,1.08182,0.63274,2015
22,Venezuela,1.04424,6.810,23,0.72052,0.05841,1.25596,0.42908,2015
23,Singapore,1.52186,6.798,24,1.02525,0.31105,1.02000,0.54252,2015
24,Panama,1.06353,6.786,25,0.79661,0.24434,1.19850,0.54210,2015
25,Germany,1.32792,6.750,26,0.89186,0.28214,1.29937,0.61477,2015
26,Chile,1.10715,6.670,27,0.85857,0.33363,1.12447,0.44132,2015
27,Qatar,1.69042,6.611,28,0.79733,0.32573,1.07860,0.64040,2015
28,France,1.27778,6.575,29,0.94579,0.12332,1.26038,0.55011,2015
29,Argentina,1.05351,6.574,30,0.78723,0.11451,1.24823,0.44974,2015
30,Czech Republic,1.17898,6.505,31,0.84483,0.10686,1.20643,0.46364,2015
31,Uruguay,1.06166,6.485,32,0.81160,0.23240,1.20890,0.60362,2015
32,Colombia,0.91861,6.477,33,0.69077,0.18401,1.24018,0.53466,2015
33,Thailand,0.96690,6.455,34,0.73850,0.57630,1.26504,0.55664,2015
34,Saudi Arabia,1.39541,6.411,35,0.72025,0.13706,1.08393,0.31048,2015
35,Spain,1.23011,6.329,36,0.95562,0.18227,1.31379,0.45951,2015
36,Malta,1.20740,6.302,37,0.88721,0.51752,1.30203,0.60365,2015
37,Taiwan,1.29098,6.298,38,0.87530,0.25376,1.07617,0.39740,2015
38,Kuwait,1.55422,6.295,39,0.72492,0.16228,1.16594,0.55499,2015
39,Suriname,0.99534,6.269,40,0.60820,0.16991,0.97200,0.59657,2015
40,Trinidad and Tobago,1.21183,6.168,41,0.61483,0.31844,1.18354,0.55884,2015
41,El Salvador,0.76454,6.130,42,0.67737,0.10692,1.02507,0.40350,2015
42,Guatemala,0.74553,6.123,43,0.64425,0.27489,1.04356,0.57733,2015
43,Uzbekistan,0.63244,6.003,44,0.59772,0.22837,1.34043,0.65821,2015
44,Slovakia,1.16891,5.995,45,0.78902,0.16893,1.26999,0.31751,2015
45,Japan,1.27074,5.987,46,0.99111,0.10705,1.25712,0.49615,2015
46,South Korea,1.24461,5.984,47,0.96538,0.18557,0.95774,0.33208,2015
47,Ecuador,0.86402,5.975,48,0.79075,0.11541,0.99903,0.48574,2015
48,Bahrain,1.32376,5.960,49,0.74716,0.17362,1.21624,0.45492,2015
49,Italy,1.25114,5.948,50,0.95446,0.22823,1.19777,0.26236,2015

In [77]:
"""
For question:  Are larger, more developed countries happier?, we want to select Economy GDP per Capita, Country, Region, 
Happiness Score, Happiness Rank, 
"""

'\nFor question:  Are larger, more developed countries happier?, we want to select Economy GDP per Capita, Country, Region, \nHappiness Score, Happiness Rank, \n'

In [78]:
"""
Use the groupby to group by year, then aggregate by average of gpd and happiness rank

"""

'\nUse the groupby to group by year, then aggregate by average of gpd and happiness rank\n\n'

In [79]:
for i in data_frames:
    print(i.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
 12  Year                           158 non-null    int64
dtypes: float64(9), int64(2), object(2)
memory usage: 16.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
 13  Year                           157 non-null    int64
dtypes: float64(10), int64(2), object(2)
memory usage: 17.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
 12  Year                           155 non-null    int64
dtypes: float64(10), int64(2), object(1)
memory usage: 15.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
 9   Year                          156 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
 9   Year                          156 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB
None

In [80]:
for i in data_frames:
    print(i.head())

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual  Year
0     0.29678            2.51738  2015
1     0.43630            2.70201  2015
2     0.34139            2.49204  2015
3     0.34699            2.46531  2015
4     0.45811            2.45176  2015
       Country          Region  Happiness Rank  Happiness Score  \
0      Denmark  Western Europe               1            7.526
1  Switzerland  Western Europe               2            7.509
2      Iceland  Western Europe               3            7.501
3       Norway  Western Europe               4            7.498
4      Finland  Western Europe               5            7.413

   Lower Confidence Interval  Upper Confidence Interval  \
0                      7.460                      7.592
1                      7.428                      7.590
2                      7.333                      7.669
3                      7.421                      7.575
4                      7.351                      7.475

   Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  \
0                   1.44178  1.16374                   0.79504  0.57941
1                   1.52733  1.14524                   0.86303  0.58557
2                   1.42666  1.18326                   0.86733  0.56624
3                   1.57744  1.12690                   0.79579  0.59609
4                   1.40598  1.13464                   0.81091  0.57104

   Trust (Government Corruption)  Generosity  Dystopia Residual  Year
0                        0.44453     0.36171            2.73939  2016
1                        0.41203     0.28083            2.69463  2016
2                        0.14975     0.47678            2.83137  2016
3                        0.35776     0.37895            2.66465  2016
4                        0.41004     0.25492            2.82596  2016
       Country  Happiness.Rank  Happiness.Score  Whisker.high  Whisker.low  \
0       Norway               1            7.537      7.594445     7.479556
1      Denmark               2            7.522      7.581728     7.462272
2      Iceland               3            7.504      7.622030     7.385970
3  Switzerland               4            7.494      7.561772     7.426227
4      Finland               5            7.469      7.527542     7.410458

   Economy..GDP.per.Capita.    Family  Health..Life.Expectancy.   Freedom  \
0                  1.616463  1.533524                  0.796667  0.635423
1                  1.482383  1.551122                  0.792566  0.626007
2                  1.480633  1.610574                  0.833552  0.627163
3                  1.564980  1.516912                  0.858131  0.620071
4                  1.443572  1.540247                  0.809158  0.617951

   Generosity  Trust..Government.Corruption.  Dystopia.Residual  Year
0    0.362012                       0.315964           2.277027  2017
1    0.355280                       0.400770           2.313707  2017
2    0.475540                       0.153527           2.322715  2017
3    0.290549                       0.367007           2.276716  2017
4    0.245483                       0.382612           2.430182  2017
   Overall rank Country or region  Score  GDP per capita  Social support  \
0             1           Finland  7.632           1.305           1.592
1             2            Norway  7.594           1.456           1.582
2             3           Denmark  7.555           1.351           1.590
3             4           Iceland  7.495           1.343           1.644
4             5       Switzerland  7.487           1.420           1.549

   Healthy life expectancy  Freedom to make life choices  Generosity  \
0                    0.874                         0.681       0.202
1                    0.861                         0.686       0.286
2                    0.868                         0.683       0.284
3                    0.914                         0.677       0.353
4                    0.927                         0.660       0.256

   Perceptions of corruption  Year
0                      0.393  2018
1                      0.340  2018
2                      0.408  2018
3                      0.138  2018
4                      0.357  2018
   Overall rank Country or region  Score  GDP per capita  Social support  \
0             1           Finland  7.769           1.340           1.587
1             2           Denmark  7.600           1.383           1.573
2             3            Norway  7.554           1.488           1.582
3             4           Iceland  7.494           1.380           1.624
4             5       Netherlands  7.488           1.396           1.522

   Healthy life expectancy  Freedom to make life choices  Generosity  \
0                    0.986                         0.596       0.153
1                    0.996                         0.592       0.252
2                    1.028                         0.603       0.271
3                    1.026                         0.591       0.354
4                    0.999                         0.557       0.322

   Perceptions of corruption  Year
0                      0.393  2019
1                      0.410  2019
2                      0.341  2019
3                      0.118  2019
4                      0.298  2019